<!-- <div class="d-flex align-items-center justify-content-center h-100 from-indigo-600">
    <mat-card>
        <mat-card-header>
            <mat-card-title >LOGIN PAGE</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            body
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>เข้าสู่ระบบ</button>
            <button mat-button>ลืมรหัสผ่าน</button>
        </mat-card-actions>
    </mat-card>
</div>  -->

<h1 class="from-orange-500">sssssssssssssssssss</h1>